In [2]:
import pandas as pd

poland = {
    "cities": ["lodz", "wawa", "krak"],
    "temp": [20, 24, 25],
    "rain": [4, 3, 1]
}

poland_df = pd.DataFrame(poland)
poland_df

  cities  temp  rain
0   lodz    20     4
1   wawa    24     3
2   krak    25     1

In [6]:
poland_extra = {
    "cities": ["lodz", "wawa", "krak"],
    "humid": [2, 0, 11]
}

poland_extra_df = pd.DataFrame(poland_extra)
poland_extra_df

  cities  humid
0   lodz      2
1   wawa      0
2   krak     11

In [8]:
#pd.merge() - only merges the element that indexes are in intersection
merged_poland = pd.merge(poland_df, poland_extra_df, on="cities")
merged_poland

  cities  temp  rain  humid
0   lodz    20     4      2
1   wawa    24     3      0
2   krak    25     1     11